/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
nav {
	position:absolute;
	right: 20px;
	top:20px;
}
nav ul {
	list-style-type: none;
	
}
nav li {
	display: inline;
	margin-left: 20px;

}
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
a:hover {
	background: transparent;
	text-decoration: none; 
	color: inherit;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex input {
	margin-left: 10px;
	margin-right: 10px;
}
html {
	font-size: 16px;
}
body {
	background: black;
}
.container {
	background: whitesmoke;
	position: relative;
}
.btn-primary {
	background: #D4854E;
	border: #D4854E;
}
.logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.circle {
	width: 100px;
	height: 100px;
	background: #EBC445;
	color: white;
	font-family: 'Amatic SC';
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 4rem;
	margin-top: 20px;
}
.dark-circle {
		width: 130px;
	height: 130px;
	background: gray;
	color: white;
	font-family: 'Amatic SC';
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 1.7rem;
}
.logo {
	text-align: center;
	font-family: 'Amatic SC';
	font-size: 4rem;
	font-weight: bold;
	display: flex;
	align-items:center;
	width: 100%;
	text-decoration: none;
}
.logo:hover {
	background:transparent;
}
.show {
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: center;
}
.show ul {
	list-style: none;
	font-family: 'helvetica' !important;
}
.narrow {
	width: 10%;
	font-weight: bold;
}
.table-responsive {
	width: 500px;
	margin: 0 auto;
}
p, li, td {
	font-family: helvetica, sans-serif;
	font-size: 1.25rem;
}
h1, h2, h3 {
	font-family: 'Amatic SC', sans-serif;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
	border-bottom: 1px solid gray;
	margin-top: 20px;
}
h3.wishlist {
	font-size: 2.5rem;
	border: 1px solid gray;
	padding: 10px;
}
 .flex-container {
 	display: flex;
 	max-width: 1400px;
 	flex-wrap: wrap;
 	align-items: center;
	justify-content: center;
 }
 .filter-box {
 	width: 100%;
 	background: #f1c40f;
 	padding: 30px;
 	color: white;
 	text-align: center;
 	margin-bottom: 20px;
 	display: flex;
 	justify-content: center;
 	align-items:center;
 }
 .pokemon-box {
 	width: 300px;
 	min-height: 500px;
 	display: flex;
 	flex-direction: column; 
 	margin: 0 20px 0 20px;
 	text-align: center;
 }
 .pokemon-box img {
 	width: 100%;
 	height: 400px;
 	object-fit: contain;
 	 }
.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-container-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
 .form {
 	width: 400px;
 	display:flex;
 	flex-direction: column;
 }

.types-filter {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: white;
}
.types-filter a {
	margin:5px;
	color: white !important;

}
.links {
	margin-top: 20px;
}
.normal {
	background: #9D9C71;
	color: white;
	width: 100px;
}
.fire {
	background: #E08140;
	color: white;
		width: 100px;

}
.water {
	background: #4875E4;
	color: white;
		width: 100px;

}
.electric {
	background: #4875E4;
	color: white;
		width: 100px;

}
.grass {
	background: #72A949;
	color: white;
		width: 100px;

}
.ice {
	background: #95CFD0;
	color: white;
		width: 100px;

}
.fighting {
	background: #AD3A2F;
	color: white;
		width: 100px;

}
.poison {
	background: #8F4595;
	color: white;
		width: 100px;

}
.ground {
	background: #D0AC50;
	color: white;
		width: 100px;

}
.flying {
	background: #D0AC50;
	color: white;
		width: 100px;

}
.psychic {
	background: #E65F83;
	color: white;
		width: 100px;

}
.bug {
	background: #A0A93D;
	color: white;
		width: 100px;

}
.rock {
	background: #998840;
	color: white;
		width: 100px;

}
.ghost {
	background: #554776;
	color: white;
		width: 100px;

}
.dragon {
	background: #4B2DE8;
	color: white;
		width: 100px;

}
.dark {
	background: #504137;
	color: white;
		width: 100px;

}
.steel {
	background: #9FA1BD;
	color: white;
		width: 100px;

}
.fairy {
	background: #D78EDF;
	color: white;
		width: 100px;

}

@media only screen and (max-width: 768px) {

	.filter-box {
		flex-direction: column;
	}
	.pokemon-box {
		width: 100%;
		margin-top: 20px;
	}
}